    /* Selecciona todos los elementos del documento y aplica las propiedades de estilo */
    * {
        /* Elimina el margen por defecto de todos los elementos */
        margin: 0;
        /* Centra verticalmente los elementos flexibles */
        align-items: center;
        /* Establece la familia de fuentes para todos los elementos */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        /* Establece el peso de la fuente para todos los elementos */
        font-weight: 400;
        /* Establece el estilo de la fuente para todos los elementos */
        font-style: normal;
    }

    /* Selecciona todos los elementos canvas del documento y aplica las propiedades de estilo */
    canvas {
        /* Establece el ancho del canvas al 100% del elemento padre */
        width: 100%;
        /* Establece la altura del canvas en 565 píxeles */
        height: 565px;
    }

    /* Selecciona el elemento con el id "gameCanvas" y aplica las propiedades de estilo */
    #gameCanvas {
        /* Establece la imagen de fondo del elemento */
        background-image: url(imagenes/b26f9b3d2559f83c832fdc822c3edba5.gif);
        /* Error: "block-size" no es una propiedad CSS válida. Se asume que se quería "background-size"*/
    }
